/* page 1 css */

* {
  box-sizing: border-box;
}
.small-text {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size:1vw;
  color: white;
}
.info {
  position: absolute;
}

.flower-shop {
  color: magenta;
}

a {
  color: #adfffb;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size:3vw;
}
.body {
  font-family: "Times New Roman", Times, serif;
  font-size:1vw;
}

.card {
    background-color: magenta;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    color: black;
    max-width: 30vw;
    text-align: center;
    padding: 2vw;
}

.rose {
  justify-content: center;
  max-width: 20vw;
  padding: 2vw;

}
body {
    background-color: black;
    margin: 2vw;
}


@media print { 
  /* All your print styles go here, for example: */
  .header, 
  .footer, 
  .nav { 
    display: none !important; 
  .body {
    background-color: black;
  }

  }


}