#container {
  margin: auto;
  height: 34vw;
}

.width {
  width: 45vw;

} 

#videoElement {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.header-nav {
  background-color: white;
}

.med {
    font-size: 1vw;
    text-decoration: underline;
    padding: .5vw;
}

.gold-frame {
    position: absolute;
    width: 54vw;
    margin-left: -50vw;
    margin-top: -3.5vw;
    z-index: 1;
}

.circle-mirror {
    position: absolute;
    width: 38vw;
    margin-top: -3.5vw;
    visibility: hidden;
}

.circle-crop {
    width: 19vw;
    height: 21vw;
    margin-left: 11.5vw;
    margin-top: 1vw;
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

.title {
    font-size: 6vw;
    text-align: center;
}

.text {
  font-family: 'Playfair Display', serif;
  font-weight: medium;
  font-style: italic;
}


body {
  margin: 0px;
  background-image: url("img/tulip-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.menu {
  background-color: white;
    position: fixed;
    width: 100vw;
    height: calc(100% - 40px);
    top: calc(100% - 40px);
    transition: top 0.4s ease-in-out;
}

  .menu-inner {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
  }

  .menu-item {
    position: absolute;
    width: 50vw;
    padding: 1vw;
    text-align: center;
  }

  .mirror {
    right:0;
  }

   .background {
    left:0;
  }

.background-pop {
    background-color: white;
    width: 24vw;
    height: 5vw;
    position: absolute;
    margin-top: -5vw;
    margin-left: 14vw;
    visibility: hidden;
    z-index: 1;

}

.mirror-pop {
    background-color: white;
    width: 24vw;
    height: 5vw;
    position: absolute;
    margin-top: -5vw;
    margin-left: 62vw;
    visibility: hidden;
    z-index: 1;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

img {
  width:3.5vw;
}

#image-container {
display: flex;
padding-top: 1vw;
justify-content: space-around;
}








   



   