body {
  background-color: lightgray;
    width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 1.7vw;
}

.green {

  background-color: #00AF4D;
}

.pink {
  background-color: #EF5594;
}

.blue {

  background-color: #00A8D2;
}

.orange {

  background-color: #F68C1F;
}

.purple {
  background-color: #BAB2D8;
}

.yellow {
  background-color: yellow;
}

.box {
  border-style: solid;
  border-color: black;
  border-width: 1vw;
  width: 13vw;
  height: 13vw;
}