/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */
.one {
  left: 10vw;
  height: 20vw;
  width: 15vw;
}
.book {
  bottom: 0vh;
  border-color: black;
  border-style: solid;
  border-width: .5vw;
  border-radius: 10%;
  position: absolute;
  background-color: white; 
}
.text {
  font-family: "helvetica", sans-serif;
  font-size: 1.5vw;
  position: absolute;
  transform: rotate(90deg);
  top: 8vw;
  left: 6vw;
}
.two {
  left: 50vw;
  height: 5vw;
  width: 15vw;
  border-radius: 13%;
}

.vase {
  border-radius: 50%;
  background-color: lightgray;
  left: 50vw;
  height: 15vw;
  width: 15vw;
  top: 35.5vw;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: .5vw;
}


.flower {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 22vw;
  left: 5vw;
  background-color: #EF5594;
  border-style: solid;
  border-color: pink;
  border-width: 2vw;
}

.stem {
  height: 7.2vw;
  width: 1vw;
  background-color: darkgreen;
  position: absolute;
  left: 1vw;
  top: 6.7vw;
  transform: rotate(10deg);

}

.catbod {
  background-color: beige;
  position: absolute;
  height: 10vw;
  width: 8vw;
  border-radius: 30%;
  bottom: 0;
  left: 35vw;
  border-style: solid;
  border-width: .5vw;
}

.cathead {
  background-color: beige;
  position: absolute;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  bottom: 8vw;
  left: 35vw;
  border-style: solid;
  border-width: .5vw;
}

.cateye1 {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 4vw;
  left: 5vw;
  background-color: black;
}
.cateye2 {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  background-color: black;}

.camera {
  left: 75vw;
  bottom: 0;
  height: 10vw;
  width: 5vw;
  background-color: darkgray;
  border-radius: 20%;
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: .5vw;
  }