/* page 2 css */


* {
  box-sizing: border-box;
}


.small-text {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size:1vw;
  color: white;
}
.info {
  position: absolute;
  background-color: black;
  padding: 2vw;
  position: fixed;
  z-index: 1;
}
a {
  color: #adfffb;
}
.flower-shop {
  color:magenta;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size:4vw;
  font-style: italic;

}
.body-text {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.8vw;
  margin-top: 2vw;
  line-height: 2.5vw;
}

.black {
    background-color: black;
    height: 130vh;
    position: absolute;
    left: 0vw;
    width: 100vw;
    margin-top: 10vw;
    text-align: center;

}

.store {
    margin-right: auto;
    width: 57vw;
    margin: 21vw;
}
.card {
    background-color: magenta;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vw;
    color: black;
    max-width: 30vw;
    text-align: center;
    padding: 2vw;
}

.one{
  bottom: 5vw;
}

.uno {
    margin-top: 104vw;

}
.magenta {
      background-color: magenta;
}

.cyan {
    top: 90vw;
    justify-content: center;
    background-color: #adfffb;}

img {
    width: 18vw;
    margin: 3vw;
    border: .4vw solid;
}
.goodbye-link {
  color:magenta;
}
body {

    margin: 2vw;
    background-image: url("img/gallery.png");
    background-repeat: repeat;
    background-size: 41.7vw;

}