
html:hover {
    cursor: url(img/cursor.png), auto; 
}

#index:hover {
    cursor: url(img/hand-cursor-01.png), auto; 
}


.lightbox {
      margin: auto;
    width: 40vw;
}

.aj-img {
  width: 40vw;
  padding: .3vw;
}

.one {
  top:0;
  left:0;
}

.img {
  left: 10vw;
  position: absolute;
  visibility: hidden;
}

.show {
    visibility: visible;
    z-index: 1;
    margin-left: 20vw;
    margin-top: -40.9vw;
    position: absolute;
    width: 40vw;
    padding: .3vw;
}

.container {
    width: 90vw;
    margin: auto;
    }

.header-container {
    width: 37.5vw;
    margin: auto;
    border: .3vw solid;
    margin-bottom: 4vw;
    margin-top: 4vw; 
    padding: 2vw; 
  }

.nav-container {
  display: flex;
  width: 37.5vw;
  margin: auto;
  justify-content: space-around;
  padding-bottom: 4vw;
}

.title {
    font-size: 3.5vw;
    margin-bottom: 1vw;
}

.subtitle {
  font-size: 2vw;
}

.gallery {
  color: black;
  font-size: 2vw;
  padding: 1vw;
  border: .3vw solid;

}

a {
  text-decoration: none;
}


.explore {
  color: white;
  background-color: black;
  font-size: 2vw;
  padding: 1vw;
}

.text {
  font-family: 'helvetica'; 
  font-weight: bold;
}

.index-column {
    column-count: 3;
    column-width: 1;
    column-gap: 2vw;
    padding-top: 4vw;
}

.small {
  padding: .5vw;
  font-size: 2vw;
}

.small:hover {
  text-decoration: underline;
  color: blue;
  
}



   