body {
  background-color: black;
    width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 1.7vw;
}

.green {

  background-color: #00AF4D;
}

.pink {
  background-color: #EF5594;
}

.yellow {
  background-color: yellow;
}

.box {
  width: 13vw;
  height: 13vw;

}