
* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'sophie-hall-baudern';
  src: url('assets/fonts/sophie-hall-baudern-fontlab-1-webfont.woff2') format('woff2'),
       url('assets/fonts/sophie-hall-baudern-fontlab-1-webfont.woff') format('woff');
  font-style: normal;
}


.title {
  font-family: 'sophie-hall-baudern';
  font-size: 10vw;
  color: magenta;
}

.body-text {
  font-size: 2.2vw;
  font-family: 'Roboto', sans-serif;
  color: magenta;

}

.small-title {
  display: flex;
  font-size: 4vw;
  font-family: 'Roboto', sans-serif;
  color: magenta;

}

.row {
  display: flex;
}

.col {
    width: 100%;
    padding-right: 2.4vw;
} 

   .rose {
    width: 12vw;
  }

  .small-rose {
    width: 3vw;
  }

  a {
    color: magenta;
  }

  .center {
    justify-content: center;
  }

  .grid {
  border: 1px solid black;
  
}

.grid-box {
    padding: 3vw;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-gap: 20px;
    justify-content: center;
}

@media (max-width:700px) {
  body {
    background-color: lightblue;
  }
  .title { color:blue;
   }
   .row {
    display: block;
   }

   }
 
