* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face { font-family: vg5000-master; src: url('fonts/VG5000-Regular_web.ttf'); } 
@font-face { font-family: youngserif; src: url('fonts/YoungSerif-Regular.otf'); } 

body {

  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


h1 {
  animation: fadeIn 5s;
  padding-top: 13vw;
  text-align: center;
  color: tan;
  font-size: 17vw;
  font-weight: normal;
  font-family: 'youngserif', sans-serif;
}

.header {
  width: 100%;
  height: 100%;
}


a {

  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 70%;
}





@keyframes blinker {
  50% {
    opacity: 0;
  }
}

 img {
  animation: fadeIn 5s;
z-index: -10;
  position: absolute;
  width: 70vw;
  mix-blend-mode: ;
  margin-left: 27vw;
  padding-top: 14vw;
 }


 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

