* {
  padding: 0;
  margin: 0;
  background-color: black;
  box-sizing: border-box;
}

.title {
  position: absolute;
  color: white;
  z-index: 1;
  margin: 2vw;
  font-weight: bold;
  font-size: 5vw;
  font-family: 'Playfair Display', serif;
}

.info {
  position: absolute;
  color: white;
  z-index: 1;
  margin: 2vw;
  margin-top:11vw;
  font-family: 'roboto';
}

a {
  color: white;
}

.smithsonian:hover {
  color: blue;
}

.gallery:hover {
  color: magenta;
}

.next:hover {
  color: lightgreen;
}

.prev:hover {
  color: yellow;
}



.rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 30%;
  margin:auto;
  height: 100vh;
}
.rgbKineticSlider canvas {
  position: absolute;
  display: block;
  top: 0 !important;
  left: 0 !important;
  transform: scale(1) !important;
}
nav a {
  color: white;
  text-decoration: none;
  position: absolute;
  font-weight: bold;
  font-family: 'helvetica';
  top: 50vh;
  z-index: 1;
  padding: 20px;
}
nav a.next {
  right: 20vw;
}
nav a.prev {
  left: 20vw;
}
