body {
  width: 100vw;
  height: 100vh;
  cursor: url('img-gallery/cursor.png'), auto; 

}

img {
    cursor: url('img-gallery/pointer.png'), auto; 
}

#myinput {
  background-color: black;
  color: white;
  border: 0px none;
  -moz-box-shadow: none;
  outline: none;
  font-size: 2vw;
  padding: 2vw;
  padding-left: 1vw;
  font-family: 'youngserif', sans-serif;
  animation: blinker 2s linear infinite;
 cursor: url('img-gallery/type.png'), auto; 

}

a {
color:white;
  text-decoration: none;
}

.menu-item-01 {
  position: absolute;
  margin-left: 85vw;
  margin-top: 15vw;
}

.menu-item-02 {
  position: absolute;
  margin-left: 85vw;
  margin-top: 20vw;
}

.menu-item-03 {
  position: absolute;
  margin-left: 85vw;
  margin-top: 25vw;
}

.menu-item-03:hover {
  cursor: pointer;
  transform: rotate(10deg);
}

.menu-item-01:hover {
  cursor: pointer;
  transform: rotate(10deg);
}



.input-border{
  border: solid;
  border-color: white;
  border-width: .2vw;
  height: 4.3vw;
  margin-bottom: 2vw;
  width: 30vw;
  margin-left: 52vw;

}




@keyframes blinker {
  50% {
    opacity: 0;
  }
}















@font-face { font-family: youngserif; src: url('fonts/YoungSerif-Regular.otf'); } 








.portfolio-thumbnail img {
    width: 30vw; /* width of container */
    height: 20vw; /* height of container */
    object-fit: cover;

}

.paddsection {
  margin-left: -5vw;
}






